.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/ChatServer.deps.json
bin/Debug/netcoreapp3.1/ChatServer.dll
bin/Debug/netcoreapp3.1/ChatServer.exe
bin/Debug/netcoreapp3.1/ChatServer.pdb
bin/Debug/netcoreapp3.1/ChatServer.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ChatServer.runtimeconfig.json
bin/Debug/netcoreapp3.1/Prysm.dll
obj/ChatServer.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/ChatServer.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ChatServer.assets.cache
obj/Debug/netcoreapp3.1/ChatServer.csproj.CopyComplete
obj/Debug/netcoreapp3.1/ChatServer.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ChatServer.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ChatServer.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ChatServer.dll
obj/Debug/netcoreapp3.1/ChatServer.exe
obj/Debug/netcoreapp3.1/ChatServer.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ChatServer.pdb
obj/*